<nav
  class="navbar"
  *ngIf="isLoggedIn() && isProfileCompleted()"
>
  <div class="navbar-left">
    <a routerLink="/" class="logo">Liftnet</a>
  </div>

  <ul class="navbar-center">
    <!-- POSTULANTE -->
    <li *ngIf="role() === 'POSTULANTE'">
      <a routerLink="/ofertas">Ofertas</a>
    </li>
    <li *ngIf="role() === 'POSTULANTE'">
      <a routerLink="/postulante/perfil">Mi perfil</a>
    </li>

    <!-- EMPRESA -->
    <li *ngIf="role() === 'EMPRESA'">
      <a routerLink="/empresa/ofertas/mis-ofertas">Mis ofertas</a>
    </li>
    <li *ngIf="role() === 'EMPRESA'">
      <a routerLink="/empresa/perfil">Perfil empresa</a>
    </li>

    <!-- ADMIN -->
    <li *ngIf="role() === 'ADMIN'">
      <a routerLink="/admin">Admin</a>
    </li>
  </ul>

  <div class="navbar-right">
    <button class="logout-btn" (click)="logout()">
      Cerrar sesión
    </button>
  </div>
</nav>
